{%extends 'index.html'%}
{%load static%}
{%block contant%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="contact">
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>get in <span>touch</span></h1>
    <span class="title-bg">contact</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
            <!-- Left Side Starts -->
            <div class="col-12 col-lg-4">
                <h3 class="text-uppercase custom-title mb-0 ft-wt-600 pb-3">Don't be shy !</h3>
                <p class="open-sans-font mb-3">Feel free to get in touch with me. I am always open to discussing new projects, creative ideas or opportunities to be part of your visions.</p>
               {%for x in persons%}
                <p class="open-sans-font custom-span-contact position-relative">
                    <i class="fa fa-envelope-open position-absolute"></i>
                    <span class="d-block">mail me</span>{{x.Email}}
                </p>
                <p class="open-sans-font custom-span-contact position-relative">
                    <i class="fa fa-phone-square position-absolute"></i>
                    <span class="d-block">call me</span>{{x.Phone}}
                </p>

                <ul class="social list-unstyled pt-1 mb-5">
                    <li class="facebook"><a title="Facebook" href="{{x.Facebook_link}}"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="twitter"><a title="Twitter" href="{{x.twitter_link}}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="youtube"><a title="Youtube" href="{x.youtube_link}"><i class="fa fa-youtube"></i></a>
                    </li>

                </ul>
                {%endfor%}
            </div>
            <!-- Left Side Ends -->
            <!-- Contact Form Starts -->
            <div class="col-12 col-lg-8">
                <form class="contactform" method="post" action="{%url 'contactsave'%}">
                    {%csrf_token%}
                    <div class="contactform">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <input type="text" name="names" placeholder="YOUR NAME" id="name">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="email" name="emails" placeholder="YOUR EMAIL" id="email">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="subjects" placeholder="YOUR SUBJECT" id="subject">
                            </div>
                            <div class="col-12">
                                <textarea name="messages" placeholder="YOUR MESSAGE" id="message"></textarea>
                                <button type="submit" class="button">
                                    <span class="button-text">Send Message</span>
                                    <span class="button-icon fa fa-send"></span>
                                </button>
                            </div>

                <div class="col-12 form-message">
                    <div class="alert alert-primary" role="alert" id="abc" >
</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Contact Form Ends -->
        </div>
    </div>

</section>
    </div>

<script>
   $(".contactform").on("submit", function() {
			$(".output_message").text("Sending...");
			var form = $(this);
			$.ajax({
				url: form.attr("action"),
				method: form.attr("method"),
				data: 'form.serialize()',
				success: function(result) {
                $(".form-inputs").css("display", "none");
                $(".box p").css("display", "none");
                $(".contactform").find(".output_message").addClass("success");
                $(".output_message").text("Message Sent!");

				},
			});
		});

</script>
<script>
    $(document).ready(function(){
    $('#abc').hide();
    });
    $('.button').click(function(){
      $("#abc").show();
      $("#abc").text("Message Sent!");

    })
</script>
{%endblock%}
